body {
    background-color: #f4f4f4;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.limitation_impressum {
    max-width: 1440px;
    margin: auto;
}

.headertext {
    color: white;
}

.container {
    background-color: white;
    color: black;
    padding: 24px;
    margin: 0 auto;
    max-width: 1000px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-grow: 1;
}

.main_imp {
    margin-left: 72px;
}

.email {
    color: black;
    text-decoration: none;
}

.email:hover {
    text-decoration: underline;
}

p,
address {
    color: black;
    line-height: 1.6;
    padding: 0;
}

h1,
h2 {
    color: #002a3f;
    margin-top: 24px;
}

.footer_impressum {
    background-color: #001f2f;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

@media (max-width: 768px) {
    .main {
        margin-left: 32px;
        margin-right: 16px;
    }

    .container {
        padding: 16px;
    }

    h2 {
        font-size: 18px;
    }

    h1 {
        font-size: 22px;
    }

    .footer_impressum {
        justify-content: center;
        padding: 0;
    }

    h1,
    h2,
    p {
        text-align: start;
    }
}

@media (max-width: 480px) {
    .main {
        margin-left: 16px;
        margin-right: 8px;
    }
}

@media (max-width: 360px) {
    .main {
        margin-left: 8px;
        margin-right: 4px;
    }
}