body {
  margin: 0px;
  background-color: #001f2f;
  color: white;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #002a3f; 
  padding: 20px 0px;
  gap: 12px;
}

.logo{
  width: 64px;
  height: 64px;
}

h1{
  font-size: 32px;
}

h2{
  margin-block-start: 0.0em;
  margin-block-end: 0.0em;
  font-size: 20px;
}

h4{
    padding: 6px;
    box-shadow: 0px 2px 4px #02141d;
    border-radius: 6px;
  }

p{
  color:#dddddd;
  margin: 0;
  padding: 6px;
}

strong{
  color: #ffffff;
  padding: 6px;
}

.price{
   color: rgb(38, 255, 0);
}

.price_value{
  color: rgb(38, 255, 0);
}

.book_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background: #5f97ad;
  background: linear-gradient(0deg, rgba(95, 151, 173, 1) 0%, rgba(224, 245, 252, 1) 100%);
}

.book_card {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #003F5C;
  background: linear-gradient(0deg, rgba(0, 63, 92, 1) 0%, rgba(5, 120, 173, 1) 99%);
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  width: 280px;
  box-shadow: 0px 4px 7px rgb(0, 0, 0);
}

.bookPNG{
  border-radius: 10px;
  width: 280px;
  height: auto;
  box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
  background-color: #e0f5fc;
  margin-top: 16px;
  margin-bottom: 16px;
}

.priceLike{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like_BTN {
  cursor: pointer;
  color: #ffffff;
  border: 1px solid transparent;
  padding: 2px 6px;
  border-radius: 5px;
  transition: 0.2s;
}

.like_BTN:hover {
  border: 1px solid red;
}

.like_BTN.liked {
  color: red;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}


.author_sec{
  box-shadow: 1px 4px 7px black;
  border-radius: 6px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #007ab6cd;
}

.comments {
  box-shadow: 0px 4px 7px rgb(0, 0, 0);
  padding: 6px;
  max-height: 220px;
  overflow-y: auto;
  padding-right: 8px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #007ab6cd;
  border-radius: 6px;
  scroll-behavior: smooth;
  flex-grow: 2;
}

.comments::-webkit-scrollbar-thumb:hover {
  background-color: #0088cc;
}

.comments {
  scrollbar-width: thin;
  scrollbar-color: #00aaff transparent;
}

.commenter{
  color: #ffffff;
  padding: 0;
}

.comment-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}

.comments_inputs {
  width: 100%;  
  margin-top: 8px;
  margin-bottom: 8px;             
  box-sizing: border-box;        
  border-radius: 6px;             
  padding: 4px 6px;              
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color:rgba(255, 255, 255, 0.1) ;
  color: white;     
  font-size: 14px;               
  transition: border-color 0.3s ease, background-color 0.3s ease;
  outline: none;
  box-shadow: 0px 2px 7px rgb(0,0,0,0.5);
}


.comments_inputs::placeholder{
  color: rgb(190, 190, 190);
}

.comments_inputs:focus {
  border-color: #00aaff;
  background-color: rgba(0, 170, 255, 0.15); 
  box-shadow: 0 0 8px rgba(0, 170, 255, 0.4); 
}

.send_BTN{
  width: 100%;
  border-radius: 6px;
  margin-top: 8px;
  border-style: solid;
  border-color: #0088cc;
  outline: none;
  font-weight: bold;
  color: #ffffff;
  background-color: #00aaff6e;
  box-shadow: 0px 2px 7px rgb(0,0,0,0.5);
}

.send_BTN:hover{
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 170, 255, 0.4);
}

.send_BTN:active{
  background-color: #00aaff65;
}

footer{
  height: 100px;
  width: 100wh;
  background-color: #001f2f;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 72px;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: rgb(190, 190, 190);
}

a:active{
  opacity: 0.5;
}

@media (max-width:580px){
  .header{
    flex-direction: column;
  }

  .h1{
    font-size: 28px;
  }

  footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}
}

@media (max-width:512px){

  .h1{
    font-size: 26px;
  }
}

@media (max-width:424px){

  .h1{
    font-size: 24px;
  }
}

@media (max-width:372px){

  h1{
    font-size: 22px;
  }

  h2{
    font-size: 18px;
    text-align: center;
  }

  

strong{
  padding: 0;
}

  .priceLike{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .book_card{
    width: 240px;
  }

  .bookPNG{
    width: 100%;
  }

}